/*
!/language/en-GB.php
!/language/ru-RU.php
!/language/uk-UK.php

!/media/cp-applepay.png
!/media/cp-googlepay.png
!/media/cp-mastercard.png
!/media/cp-visa.png

!/sql/install.mysql.utf8.sql

!README.md